# Preparing Country-specifc Data

'''
input files
------------



output files
-------------


'''

In [1]:
import pandas as pd

## An important CSV

In [3]:
df_timeseries_COVID_confirmed = pd.read_csv('../data_proc/COVID_TimeSeries_by_country.csv',sep=";", index_col='date')
df_timeseries_COVID_confirmed.sort_index(ascending=True) # just to be safe, btw the ISO date format helps
countries = df_timeseries_COVID_confirmed.columns.unique() # unique should be redundant, just in case

## Output item 1: the population of each country 

This might be used as a guess of the number of susceptibles in the **SIR model** 
where it is assumed that everybody is initially (100% or partially) susceptible to be infected by the virus regardless of the country).
  
The data was retrieved from [the data bank of World Bank](https://databank.worldbank.org/reports.aspx?source=2&series=SP.POP.TOTL&country=#). 

Unfortunately, the country names have been manually modified using other knowledge, e.g. mapping "Myanmar" to "Burma" so that the names will be the same as those used by John Hopkins University's csv (see [this spreadsheet]('/home/la/Dropbox/aca-active/Kienle-DS/repo/data_raw/Country-info.ods')).

In [4]:
df_country_pop_raw = pd.read_csv('../data_raw/Country-info.csv',sep=';')
df_country_pop_raw

,Country Name,name_JHU,Country Code,Population in 2019 (see link)
0,Afghanistan,Afghanistan,AFG,38041754
1,Albania,Albania,ALB,2854191
2,Algeria,Algeria,DZA,43053054
3,American Samoa,NaN,ASM,55312
4,Andorra,Andorra,AND,77142
...,...,...,...,...
212,Virgin Islands (U.S.),NaN,VIR,106631
213,West Bank and Gaza,West Bank and Gaza,PSE,4685306
214,"Yemen, Rep.",Yemen,YEM,29161922
215,Zambia,Zambia,ZMB,17861030
216,Zimbabwe,Zimbabwe,ZWE,14645468

Even after the manual operation, there is *no* one-to-one correspondence between country names in the two sets of data. Here, I will first dropout the NaN row(s) in `df_country_pop_raw`

In [5]:
df_country_pop_raw.drop(['Country Name'],axis='columns', inplace=True)
df_country_pop_raw.rename(columns={'name_JHU':'country','Population in 2019 (see link)':'population'},inplace=True)
df_country_pop_raw.set_index('country',inplace=True)
df_country_pop_raw

                   Country Code population
country
Afghanistan                 AFG   38041754
Albania                     ALB    2854191
Algeria                     DZA   43053054
NaN                         ASM      55312
Andorra                     AND      77142
...                         ...        ...
NaN                         VIR     106631
West Bank and Gaza          PSE    4685306
Yemen                       YEM   29161922
Zambia                      ZMB   17861030
Zimbabwe                    ZWE   14645468

[217 rows x 2 columns]

However, not all countries in the JHU csv (global time series of confirmed cases) are available in the population dataset...

In [6]:
for country in countries:
    try:
        print("{} \t has a population of {}".format(country,df_country_pop_raw.loc[country,'population']))
    except KeyError:
        print("\n\n !!!! the population data for Country {} is unavailable.".format(country))

Afghanistan 	 has a population of 38041754
Albania 	 has a population of 2854191
Algeria 	 has a population of 43053054
Andorra 	 has a population of 77142
Angola 	 has a population of 31825295
Antigua and Barbuda 	 has a population of 97118
Argentina 	 has a population of 44938712
Armenia 	 has a population of 2957731
Australia 	 has a population of 25364307
Austria 	 has a population of 8877067
Azerbaijan 	 has a population of 10023318
Bahamas 	 has a population of 389482
Bahrain 	 has a population of 1641172
Bangladesh 	 has a population of 163046161
Barbados 	 has a population of 287025
Belarus 	 has a population of 9466856
Belgium 	 has a population of 11484055
Belize 	 has a population of 390353
Benin 	 has a population of 11801151
Bhutan 	 has a population of 763092
Bolivia 	 has a population of 11513100
Bosnia and Herzegovina 	 has a population of 3301000
Botswana 	 has a population of 2303697
Brazil 	 has a population of 211049527
Brunei 	 has a population of 433285
Bulgaria 	 has a population of 6975761
Burkina Faso 	 has a population of 20321378
Burma 	 has a population of 54045420
Burundi 	 has a population of 11530580
Cabo Verde 	 has a population of 549935
Cambodia 	 has a population of 16486542
Cameroon 	 has a population of 25876380
Canada 	 has a population of 37589262
Central African Republic 	 has a population of 4745185
Chad 	 has a population of 15946876
Chile 	 has a population of 18952038
China 	 has a population of 1397715000
Colombia 	 has a population of 50339443
Comoros 	 has a population of 850886
Congo (Brazzaville) 	 has a population of 5380508
Congo (Kinshasa) 	 has a population of 86790567
Costa Rica 	 has a population of 5047561
Cote d'Ivoire 	 has a population of 25716544
Croatia 	 has a population of 4067500
Cuba 	 has a population of 11333483
Cyprus 	 has a population of 1198575
Czechia 	 has a population of 10669709
Denmark 	 has a population of 5818553


 !!!! the population data for Country Diamond Princess is unavailable.
Djibouti 	 has a population of 973560
Dominica 	 has a population of 71808
Dominican Republic 	 has a population of 10738958
Ecuador 	 has a population of 17373662
Egypt 	 has a population of 100388073
El Salvador 	 has a population of 6453553
Equatorial Guinea 	 has a population of 1355986
Eritrea 	 has a population of ..
Estonia 	 has a population of 1326590
Eswatini 	 has a population of 1148130
Ethiopia 	 has a population of 112078730
Fiji 	 has a population of 889953
Finland 	 has a population of 5520314
France 	 has a population of 67059887
Gabon 	 has a population of 2172579
Gambia 	 has a population of 2347706
Georgia 	 has a population of 3720382
Germany 	 has a population of 83132799
Ghana 	 has a population of 30417856
Greece 	 has a population of 10716322
Grenada 	 has a population of 112003
Guatemala 	 has a population of 16604026
Guinea 	 has a population of 12771246
Guinea-Bissau 	 has a population of 1920922
Guyana 	 has a population of 782766
Haiti 	 has a population of 11263077


 !!!! the population data for Country Holy See is unavailable.
Honduras 	 has a population of 9746117
Hungary 	 has a population of 9769949
Iceland 	 has a population of 361313
India 	 has a population of 1366417754
Indonesia 	 has a population of 270625568
Iran 	 has a population of 82913906
Iraq 	 has a population of 39309783
Ireland 	 has a population of 4941444
Israel 	 has a population of 9053300
Italy 	 has a population of 60297396
Jamaica 	 has a population of 2948279
Japan 	 has a population of 126264931
Jordan 	 has a population of 10101694
Kazakhstan 	 has a population of 18513930
Kenya 	 has a population of 52573973
Korea, South 	 has a population of 51709098
Kosovo 	 has a population of 1794248
Kuwait 	 has a population of 4207083
Kyrgyzstan 	 has a population of 6456900
Laos 	 has a population of 7169455
Latvia 	 has a population of 1912789
Lebanon 	 has a population of 6855713
Lesotho 	 has a population of 2125268
Liberia 	 has a population of 4937374
Libya 	 has a population of 6777452
Liechtenstein 	 has a population of 38019
Lithuania 	 has a population of 2786844
Luxembourg 	 has a population of 619896


 !!!! the population data for Country MS Zaandam is unavailable.
Madagascar 	 has a population of 26969307
Malawi 	 has a population of 18628747
Malaysia 	 has a population of 31949777
Maldives 	 has a population of 530953
Mali 	 has a population of 19658031
Malta 	 has a population of 502653
Mauritania 	 has a population of 4525696
Mauritius 	 has a population of 1265711
Mexico 	 has a population of 127575529
Moldova 	 has a population of 2657637
Monaco 	 has a population of 38964
Mongolia 	 has a population of 3225167
Montenegro 	 has a population of 622137
Morocco 	 has a population of 36471769
Mozambique 	 has a population of 30366036
Namibia 	 has a population of 2494530
Nepal 	 has a population of 28608710
Netherlands 	 has a population of 17332850
New Zealand 	 has a population of 4917000
Nicaragua 	 has a population of 6545502
Niger 	 has a population of 23310715
Nigeria 	 has a population of 200963599
North Macedonia 	 has a population of 2083459
Norway 	 has a population of 5347896
Oman 	 has a population of 4974986
Pakistan 	 has a population of 216565318
Panama 	 has a population of 4246439
Papua New Guinea 	 has a population of 8776109
Paraguay 	 has a population of 7044636
Peru 	 has a population of 32510453
Philippines 	 has a population of 108116615
Poland 	 has a population of 37970874
Portugal 	 has a population of 10269417
Qatar 	 has a population of 2832067
Romania 	 has a population of 19356544
Russia 	 has a population of 144373535
Rwanda 	 has a population of 12626950
Saint Kitts and Nevis 	 has a population of 52823
Saint Lucia 	 has a population of 182790
Saint Vincent and the Grenadines 	 has a population of 110589
San Marino 	 has a population of 33860
Sao Tome and Principe 	 has a population of 215056
Saudi Arabia 	 has a population of 34268528
Senegal 	 has a population of 16296364
Serbia 	 has a population of 6944975
Seychelles 	 has a population of 97625
Sierra Leone 	 has a population of 7813215
Singapore 	 has a population of 5703569
Slovakia 	 has a population of 5454073
Slovenia 	 has a population of 2087946
Somalia 	 has a population of 15442905
South Africa 	 has a population of 58558270
South Sudan 	 has a population of 11062113
Spain 	 has a population of 47076781
Sri Lanka 	 has a population of 21803000
Sudan 	 has a population of 42813238
Suriname 	 has a population of 581372
Sweden 	 has a population of 10285453
Switzerland 	 has a population of 8574832
Syria 	 has a population of 17070135


 !!!! the population data for Country Taiwan* is unavailable.
Tajikistan 	 has a population of 9321018
Tanzania 	 has a population of 58005463
Thailand 	 has a population of 69625582
Timor-Leste 	 has a population of 1293119
Togo 	 has a population of 8082366
Trinidad and Tobago 	 has a population of 1394973
Tunisia 	 has a population of 11694719
Turkey 	 has a population of 83429615
US 	 has a population of 328239523
Uganda 	 has a population of 44269594
Ukraine 	 has a population of 44385155
United Arab Emirates 	 has a population of 9770529
United Kingdom 	 has a population of 66834405
Uruguay 	 has a population of 3461734
Uzbekistan 	 has a population of 33580650
Venezuela 	 has a population of 28515829
Vietnam 	 has a population of 96462106
West Bank and Gaza 	 has a population of 4685306


 !!!! the population data for Country Western Sahara is unavailable.
Yemen 	 has a population of 29161922
Zambia 	 has a population of 17861030
Zimbabwe 	 has a population of 14645468

## Output item 2: the date of first confirmed cases (in YYYY-mm-dd)
this is relevant for the **SIR model** especially if we want to fit all the data (using *time-invariant* parameters alpha and beta), obviously the zeros **before** the day of first reported case should be filtered *out*.)


## more country-specific (static) information? 
examples of such info that might also be of interest to the data analysis (not yet implemented)
* average temperature
* population density
* average medical facility 
* GDP
* location
* ...